<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文本导入</title>
    <title>Basic FileBox - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="../js/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../js/easyui/demo/demo.css">
    <script type="text/javascript" src="../js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js//esayui/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="../js/txtimport/txtimport.js"></script>

</head>
<body>
<h2>文本上传</h2>
<div style="margin:20px 0;"></div>
<div>
    <table>
        <tr>
            <td>
    <form id="uploadTxt"  method="post" enctype="multipart/form-data">
    <input id="txt" name="txt" type="text" style="width:300px">
    </form>
            </td>
        </tr>
        <tr>
            <td>
            <a  id = "booten" onclick="uploadTxt()" class="easyui-linkbutton">上传</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>